<li class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
    <div class="context">
    {{!--
      <span class="title">{{page.component.title}}</span>
      <span class="version">{{#unless (eq page.componentVersion.displayVersion 'default')}}{{page.componentVersion.displayVersion}}{{/unless}}</span>
    --}}
    </div>
  {{/if}}
  <ul class="components">
    {{!-- Below is new nav code after revamp--}}
    <div class="title" style="font-weight: bold;">TigerGraph DB</div>
    <div class="dropdown-category">
      <a class="category-item"  href="{{relativize site.components.tigergraph-server.url}}">{{site.components.tigergraph-server.title}}</a>
      <a class="category-item"  href="https://staging--docs-tigergraph.netlify.app/tigergraph-server/current/getting-started/">Get Started</a>
    </div>

    <div class="title" style="font-weight: bold;">TigerGraph Cloud</div>
    <div class="dropdown-category">
      <a class="category-item" href="{{relativize site.components.cloud.url}}">{{site.components.cloud.title}}</a>
      <a class="category-item"  href="https://staging--docs-tigergraph.netlify.app/tigergraph-server/current/getting-started/">Get Started</a>
    </div>

    <div class="title" style="font-weight: bold;">TigerGraph Suite</div>
    <div class="dropdown-category">
      <a class="category-item" href="{{relativize site.components.gui.url}}">Admin Portal and GraphStudio</a>
      <a class="category-item" href="{{relativize site.components.insights.url}}">{{site.components.insights.title}}</a>
      <a class="category-item" href="https://docs.tigergraph.com/tigergraph-server/current/gsql-shell/web">GSQL Web Shell</a>
    </div>

    <div class="title" style="font-weight: bold;">GSQL Language</div>
    <div class="dropdown-category">
      <a class="category-item" href="{{relativize site.components.gsql-ref.url}}">GSQL Language Reference</a>
      <a class="category-item"  href="https://staging--docs-tigergraph.netlify.app/gsql-ref/current/tutorials/gsql-101/">GSQL 101</a>
    </div>

    <div class="title" style="font-weight: bold;">Graph Data Science</div>
    <div class="dropdown-category">
      <a class="category-item" href="{{relativize site.components.graph-ml.url}}">Graph Data Science Library</a>
      <a class="category-item" href="{{relativize site.components.ml-workbench.url}}">ML Workbench</a>
    </div>

    <div class="title" style="font-weight: bold;">Connectors and APIs</div>
    <div class="dropdown-category">
      <a class="category-item" href="{{relativize site.components.pytigergraph.url}}">pyTigerGraph</a>
      <a class="category-item" href="{{relativize site.components.graphql.url}}">GraphQL Service</a>
      <a class="category-item" href="https://github.com/tigergraph/ecosys/tree/master/tools/etl/tg-jdbc-driver">JDBC Driver</a>
    </div>
    {{!-- Below is old nav code before revamp--}}
    {{#each (rearrange site.components 'name' page.attributes.component-order)}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <a class="title" href="{{{relativize ./url}}}">{{{./title}}}</a>
      {{#if (or ./versions.[1] (ne ./versions.[0].displayVersion 'default'))}}
        <ul class="versions">
          {{#each ./versions}}
            <li class="version
             {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
              {{~#if (eq this ../latest)}} is-latest{{/if}}">
              <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  </ul>
</div>
